#ItemBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: auto;
}


#itemContainer {
    border: 1px solid black;
    width: 553px;
    height: 600px;
}

.Button {
    height: 50px;
    width: 50px;
}
